.navbar {

    &__list {
        justify-content: center;
        align-items: center;
        display: flex;
        column-gap: 30px;
        
        &-item {
        }
    }

    &__link {
        color: var(--link-color);
        font-size: 14px;
    }
}