@use '@abstracts' as *;

.search-block {
  width: fluid(700, 186);
  height: fluid(52, 46);
  background-color: var(--color-blue);
  border-radius: rem(8);
  padding: rem(2) 0 0 rem(3);

  &__input {
    width: fluid(640, 144);
    height: fluid(46, 42);
    border-radius: rem(6);
    border: none;
    padding: rem(14) rem(16);
    font-size: rem(14);

    &:active {
      border: none;
    }
  }

  &__button {
    width: fluid(56, 38);
    height: fluid(46, 42);
    background-color: transparent;
    border: none;
    color: var(--color-light);

    &-icon {
      width: rem(14);
      height: rem(14);
    }
  }
}
