@use '@/styles/abstracts' as *;

.register {
  &__title {
    @include fluid-text(48, 30);
    margin-top: fluid(68, 24);
    color: var(--color-dark-2);
    text-align: center;
  }
  &__form {
    width: fluid(735, 300);
    margin: 0 auto;

    &-button {
      width: fluid(735, 300);
      height: rem(64);
      border-radius: rem(8);
      border: none;
      background-color: var(--color-blue);
      color: var(--color-light);
      font-size: rem(13);
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: rem(3);
      margin-top: rem(20);

      @include hover {
        background-color: var(--color-dark-blue);
        color: var(--color-dark-1);
      }
    }
  }
  &__top {
    justify-content: space-between;
    align-items: center;
    display: flex;

    @include laptop {
      display: block;
    }
  }

  &__label {
    margin-top: rem(20);
    font-size: rem(14);
    color: var(--color-dark-blue-2);
    font-weight: 400;

    span {
      color: red;
    }
  }

  &__input {
    width: fluid(735, 300);
    height: rem(61);
    border-radius: rem(7);
    border: rem(1) solid var(--color-dark-blue-3);
    padding: rem(20) rem(25);
    position: relative;
    &:focus {
      border-color: var(--color-blue);
    }
    &-show {
      position: absolute;
      transform: translate(-40px, 14px);
      border: none;
      background: transparent;
    }
  }
}

.error {
  color: red;
}

.login {
  margin-top: rem(10);
  text-align: center;
}
