* {
  list-style-type: none;
  text-decoration: none;
}

:root {
  --link-color: #6c6f71;
  --color-gray: #4e5760;
  --color-gray-2: #6b7076;
  --color-gray-3: #2c333d;
  --color-gray-4: #3b3c3f;
  --color-ligth-gray: #A8ADB2;

  --color-dark-1: #000000;
  --color-dark-2: #2c333d;

  --color-dark-blue: #2a5e8d;
  --color-dark-blue-2: #011120;
  --color-dark-blue-3: #003B73;
  --color-blue: #186fd4;
  --color-ligth-blue: #117fe3;

  --color-light: #ffffff;

  --color-white: #f9fafb;
}

input[type='search'] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

input[type='search']:focus {
  border-color: #ccc;
  box-shadow: none;
  outline: none;
}
