* {
  list-style-type: none;
  text-decoration: none;
}

:root {
  --link-color: #6c6f71;
  --color-gray: #4e5760;
  --color-gray-2: #6b7076;
  --color-gray-3: #2c333d;

  --color-dark-1: #000000;

  --color-dark-blue: #2a5e8d;
  --color-blue: #186fd4;

  --color-light: #ffffff;
}

input[type='search'] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

input[type='search']:focus {
  border-color: #ccc;
  box-shadow: none;
  outline: none;
}
