@use '@abstracts' as *;

.header {
  padding-top: rem(10);
  &__logo {
    width: fluid(215, 159);
    height: fluid(54, 40);
  }

  &__bottom {
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: relative;
  }

  &__center {
    position: static;
    width: auto;
    margin-top: 0;
  }

  @include laptop {
    height: rem(100);
  }

  @include mobile-l {
    height: rem(70);
  }
}
