@use "@abstracts" as *;

.header {
  &__top, &__bottom {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  &__bottom {
    padding: fluid(28,15) 0;
  }

  &__logo {
    width: fluid(215,159);
    height: fluid(54,40);
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: gray;
  }
}
