@use '@abstracts' as *;

.user-menu {
  &__list {
    justify-content: center;
    align-items: center;
    display: flex;
    column-gap: fluid(27, 6);

    &-item {
      &:first-child {
        @include mobile-l {
          display: none;
        }
      }
    }
  }

  &__link {
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;

    color: var(--color-gray-2);

    @include hover {
      color: var(--color-blue);
    }
  }

  &__icon {
    width: rem(33);
    height: rem(25);
  }

  &__text {
    font-size: fluid(14, 2);
    @include tablet {
      display: none;
    }
  }
}
