@use "@abstracts" as *;

.user-menu {


  &__list {
    justify-content: center;
    align-items: center;
    display: flex;
    column-gap: fluid(27,6);
  }

  &__link {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__icon {
    width: rem(33);
    height: rem(25);
    color: #16191E;
  }

  &__text {
    color: var(--color-gray-2);
    font-size: rem(14);


    @include mobile {
      display: none;
    }
  }
}